<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue MDC Adapter</title>
  
  <!-- import material icons, fonts and vue-mdc-adapter stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">  
  <link rel="stylesheet" href="https://unpkg.com/vue-mdc-adapter/dist/vue-mdc-adapter.min.css">  

  <!-- import vue and then vue-mdc-adapter -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-mdc-adapter/dist/vue-mdc-adapter.min.js"></script>
</head>
<body>
  <div id="app">
    <mdc-card style="margin: 64px auto; max-width: 800px;">
      <mdc-card-media src="https://material-components-web.appspot.com/images/16-9.jpg">
        <mdc-card-horizontal>
          <mdc-card-img mult=1.5
            src="https://github.com/stasson/vue-mdc-adapter/wiki/img/logo.png"></mdc-card-img>
          <mdc-card-header class="mdc-theme--dark">
            <mdc-card-title large>\{{title}}</mdc-card-title>
            <mdc-card-subtitle>\{{subtitle}}</mdc-card-subtitle>
          </mdc-card-header>
        </mdc-card-horizontal>
      </mdc-card-media>
      <mdc-card-text>
        <div style="margin-top: 16px;">
          <mdc-body v-for="item in links" :key="item.id">
            \{{item.desc}} <a :href="item.url" target="_blank">
              \{{humanizeURL(item.url) }}</a>
          </mdc-body>
        </div>
      </mdc-card-text>
      <mdc-card-actions>
        <mdc-card-action-button @click="showSnackbar">Hello</mdc-card-action-button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-snackbar></mdc-snackbar>
  </div>

  <script>
    /* global Vue */
    new Vue({
      el: '#app',
      data: {
        title: 'Vue MDC Adapter',
        subtitle: 'Welcome to your MDC Vue.js app!',
        links: [
          { 
            desc: 'To learn more about Vue, visit', 
            url: 'http://vuejs.org/guide/' 
          },
          { 
            desc: 'To learn more about Vue MDC Adapter, visit', 
            url: 'https://github.com/stasson/vue-mdc-adapter/wiki' 
          },
          { 
            desc: 'To have a preview of Vue MDC Adapter components, visit', 
            url: 'https://stasson.github.io/vue-mdc-adapter/' 
          }
        ]
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        showSnackbar: function (url) {
          this.$root.$emit('show-snackbar', {
            message: 'Hello!' 
          })
        }
      }
    })
  </script>
</body>
</html>
